{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <legend>Login</legend>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger ">{{ form.non_field_errors }}</div>
        {% endif %}
        {% if form.username.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
            <label for="id_username" class="control-label col-sm-2">Username</label>
            <div class="col-sm-10">
                <input type="text" id="id_username" name="username" class="form-control" required />
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
                {% if form.username.errors %}
                    <div class="help-block">{{ form.username.errors }}</div>
                {% endif %}
            </div>
        </div>
        {% if form.password.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
            <label for="id_password" class="control-label col-sm-2">Password</label>
            <div class="col-sm-10">
                <input type="password" id="id_password" name="password" class="form-control" required />
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                {% if form.password.errors %}
                    <div class="help-block">{{ form.password.errors }}</div>
                {% endif %}
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-group">
            <p class="col-sm-offset-2 col-sm-10"><button type="submit" class="btn btn-primary">Login</button></p>
            <p class="col-sm-offset-2 col-sm-10"><a href="{% url 'password_reset' %}">Lost Password?</a></p>
        </div>
    </form>
{% endblock %}
