{% extends "base.html" %}
{% block title %}
    Password reset
{% endblock %}
{% block content %}
<legend>Password reset</legend>
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger ">{{ form.non_field_errors }}</div>
    {% endif %}
    {% if form.email.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
        <label for="id_email" class="control-label col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="email" id="id_email" name="email"  class="form-control" required/>
            <i class="glyphicon glyphicon-mail form-control-feedback"></i>
            {% if form.email.errors %}
                <div class="help-block">{{ form.email.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
    <p class="col-sm-offset-2 col-sm-10"><input class="btn btn-primary" type="submit" value="Reset my password" /></p>
    </div>

</form>
{% endblock %}
