{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extrahead %}
    {{ form.media.css}}
{% endblock %}
{% block content %}
    <form class="form-horizontal" action="{% url 'data_export' %}" method="post" target="_blank">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="id_procedure">Procedure:</label>
            <div class="col-sm-10">
                {{ form.procedure }}
            </div>
        </div>
        <div class="form-group" >
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit" name="download">Data export <i class="glyphicon glyphicon-download"></i></button>
            </div>
        </div>
    </form>
{% endblock %}
{% block extrascripts %}
    {{ form.media.js }}
{% endblock %}
