<h1>Hi {{ user.first_name }}.</h1>
<p>You have been invited to Dcodr.</p>
<p>To accept the invitation, click the link below.</p>
<p><a href="http://{{ host }}/accept_invitation/{{ user.token.value }}/">Accept invitation</a></p>
