{% extends "base.html" %}
{% block title %}
    Invitation accepted
{% endblock %}
{% block content %}
    {% include "core/password_requirements_modal.html" %}
    <legend>Create your password</legend>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        {% if form.new_password1.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
            <label for="id_new_password1" class="control-label col-sm-2">New password</label>
            <div class="col-sm-10">
                <input type="password" id="id_new_password1" name="new_password1" class="form-control" required/>
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                {% if form.new_password1.errors %}
                    <div class="help-block">{{ form.new_password1.errors }}</div>
                {% endif %}
            </div>
        </div>
        {% if form.new_password2.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
            <label for="id_new_password2" class="control-label col-sm-2">Password confirmation</label>
            <div class="col-sm-10">
                <input type="password" id="id_new_password2" name="new_password2"  class="form-control" required/>
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                {% if form.new_password2.errors %}
                    <div class="help-block">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
        <p class="col-sm-offset-2 col-sm-10"><input class="btn btn-primary" type="submit" value="Create password" /></p>
        </div>
    </form>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal();
});
</script>
{% endblock %}
