{% extends "base.html" %}
{% block title %}Add Operation{% endblock %}
{% block extrahead %}
    {{ form.media.css}}
{% endblock %}
{% block content %}
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <legend>Add operation to patient {{ patient_id }}</legend>
        {% if form.date.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
            <label for="id_date" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <input type="text" name="date" id="id_date"class="form-control datepicker" maxlength="10" required>
                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                {% if form.date.errors %}
                    <div class="help-block">{{ form.date.errors }}</div>
                {% endif %}
            </div>
        </div>
        {% if form.procedure_id.errors %}<div class="form-group has-error">{% else %}<div class="form-group">{% endif %}
            <label for="id_procedure_id" class="col-sm-2 control-label">Procedure</label>
            <div class="col-sm-10">
                {{ form.procedure_id }}
                {% if form.procedure_id.errors %}
                    <div class="help-block">{{ form.procedure_id.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
      </div>
    </form>
{% endblock %}
{% block extrascripts %}
    {{ form.media.js }}
{% endblock %}
