{% extends "base.html" %}
{% load static %}
{% block title %}Select patient operation{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block content %}
    <legend>Select operation for patient {{ patient_id }}</legend>
    <form action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <label for="id_operation" class="control-label">Operation</label>
                    <select class="selectpicker form-control" name="operation" id="id_operation">
                        {% for operation in operations %}
                            <option value="{{ operation.id }}" data-content="<strong>Operation code:</strong> {{ operation.procedure.code }}<br /><strong>Operation date:</strong> {{ operation.date }}"></option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <a href="/patient/{{ patient_id }}/add-operation/" class="btn btn-success">Add Operation <i class="glyphicon glyphicon-plus"></i></a>
            </div>
        </div>
        <div class="form-group far-next-btn">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
{% endblock %}
{% block extrascripts %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"  charset="utf-8"></script>
{% endblock %}
