<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Password requirements</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>at least 8 characters long</li>
                    <li>at least one upper case letter</li>
                    <li>at least one lower case letter</li>
                    <li>at least one number</li>
                    <li>at least one symbol</li>
                    <li>no more than 100 characters</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
