{% extends "base.html" %}
{% block extrahead %}
    {{ form.media.css}}
{% endblock %}
{% block title %}Select patient{% endblock %}
{% block content %}
    <legend>Select patient</legend>
    <div class="row">
        <div class="col-md-10">
            <form class="" action="." method="post">
                {% csrf_token %}
                {% if form.patient_id.errors %}<div class="form-group has-error">{% else %}<div class="form-group">{% endif %}
                    <label for="{{ from.patient_id.id_for_label }}" class="control-label">Patient ID</label>
                    {{ form.patient_id }}
                    {% if form.patient_id.errors %}
                        <div class="help-block">{{ form.patient_id.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="name" value="Next">
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <a href="{% url 'new_patient' %}" class="btn btn-success">Add Patient <i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    {{ form.media.js }}
{% endblock %}
