{% extends "base.html" %}
{% block title %}Add Patient{% endblock %}
{% block content %}
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <legend>Add patient</legend>
        {% if form.patient_id.errors %}<div class="form-group has-error">{% else %}<div class="form-group">{% endif %}
            <label for="id_patient_id" class="col-sm-2 control-label">Patient ID</label>
            <div class="col-sm-10">
                <input type="text" name="patient_id" id="id_patient_id" maxlength="30" class="form-control" required>
                {% if form.patient_id.errors %}
                    <div class="help-block">{{ form.patient_id.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
      </div>
    </form>
{% endblock %}
