{% extends "base.html" %}
{% load static %}
{% block title %}Select patient survey{% endblock %}
{% block content %}
    <legend>Previous survey responses received for this operation</legend>
    <form action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-10">
                <table class="table">

                    {% for survey in surveys %}
                        <tr>
                            <td>
                                <a href="/patient/{{ patient_id }}/{{ operation.id }}/{{ survey.id }}/">
                                    Received: {{ survey.date }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-sm-2">
                <a href="/patient/{{ patient_id }}/{{ operation.id }}/survey/" class="btn btn-success">Add Survey <i class="glyphicon glyphicon-plus"></i></a>
            </div>
        </div>
    </form>
{% endblock %}
