{% extends "base.html" %}
{% load static %}
{% block title %}Survey{% endblock %}
{% block extrascripts %}
    <script src="{% static 'js/angular.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/ajax.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/survey.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/service-survey.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/jquery-input-mask.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.length1').mask('0');
        $('.length3').mask('000');
    });
    </script>
{% endblock %}
{% block content %}
<legend>Add survey response</legend>
<div class="col-sm-10">
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% if form.date.errors %}<div class="form-group has-error has-feedback">{% else %}<div class="form-group has-feedback">{% endif %}
            <label for="id_date" class="control-label col-sm-2">Delivery date</label>
            <div class="col-sm-10">
                <input type="text" name="date" class="form-control datepicker" value="" maxlength="10">
                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                {% if form.date.errors %}
                    <div class="help-block">{{ form.date.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="ng-application" ng-app="survey-app" ng-controller="SurveyController">
            <div class="form-group">
                <label for="id_form_type" class="control-label col-sm-2">Survey form</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="m.survey" name="survey" ng-change="m.load_form()">
                        {% for form_type in form_types  %}
                            <option value="{{ form_type.id }}">{{ form_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group" ng-repeat="field in m.fields">
                <label class="control-label col-sm-2" for="{[{ field.name }]}">{[{ field.label }]}</label>
                <div class="col-sm-10">
                    <input type="number" name="{[{ field.name }]}" min="{[{ field.min_value }]}" max="{[{ field.max_value }]}" class="form-control length3">
                </div>
            </div>

            <div class="loader-div" ng-if="m.loading">
                <img src="{% static 'imgs/loader.png' %}" alt="loading..." class="loader" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" name="name" value="Save">
            </div>
        </div>
    </form>
</div>
<div class="col-sm-2">
    <a href="/patient/{{ patient_id }}/{{ operation_id }}/survey/select/" class="btn btn-default">Review previous surveys</a>
</div>
{% endblock %}
